footer{
 font: 14px/150% var(--font-family);
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding-block: 24px;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

footer a:hover {
    text-decoration: none;
    color: inherit;
}